.life-example {
  width: 280px;
  padding: 0 20px;
  padding-top: 25px;
  margin: 0 auto;
  background-color: #eaeaea;
}

.life-example__photo-verification {
  width: 280px;
  height: 256px;
  background-color: #add8e6;
}

.life-example__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.life-example__text {
  font-family: "Lato", sans-serif;
  color: #444444;
}
