.results {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 42px;

  @media (min-width: @desktop-width) {
    grid-template-columns: 162px 162px;
  }
}

.result__value {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 162px;
  }
}

.results__number {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: @black;
  width: 100%;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: (37 / 30);
  }
}

.results__description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 1;
  text-transform: lowercase;
  position: relative;
  top: -20px;
  padding: 0 10px;
  background-color: #eaeaea;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 1;

    br {
      display: none;
    }
  }
}

.results__total {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
