.advantages {
  width: 320px;
  margin: 0 auto;
}

.advantages__wrapper {
  padding: 0 20px;
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.advantages__list {
  list-style: none;
}

.advantages__list-wrapper {
  margin-bottom: 50px;
}

.advantages__item {
  margin-bottom: 20px;
}

.advantages__text {
  font-family: "Lato", sans-serif;
  color: #444444;
}

.advantages__icon {
  display: block;
  width: 60px;
  height: 60px;
  background-color: rgba(104, 183, 56, 1);
}

.advantages__icon--leaf {
  background-image: url("../img/advantages-icons/icon_leaf.svg");
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__icon--powder {
  background-image: url("../img/advantages-icons/icon_powder.svg");
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__icon--cutlery {
  background-image: url("../img/advantages-icons/icon_cutlery.svg");
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__icon--weigher {
  background-image: url("../img/advantages-icons/icon-weigher.svg");
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;
}
