.advantages {
  margin: 0 auto;
}

.advantages__wrapper {
  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.advantages__title {
  font-size: 36px;
  line-height: (40 / 36);
  font-weight: 400;
  color: @black;
}

.advantages__list {
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.advantages__list-wrapper {
  margin-bottom: 50px;
  padding: 0;
}

.advantages__item {
  display: grid;
  grid-template-columns: 80px 1fr;
  margin-bottom: 20px;
}

.advantages__text {
  font-family: "Lato", sans-serif;
}

.advantages__icon {
  display: block;
  width: 60px;
  height: 60px;
  background-color: @basic_green;
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;

  &--leaf {
    background-image: url("../img/advantages-icons/icon_leaf.svg");
  }

  &--powder {
    background-image: url("../img/advantages-icons/icon_powder.svg");
  }

  &--cutlery {
    background-image: url("../img/advantages-icons/icon_cutlery.svg");
  }

  &--weigher {
    background-image: url("../img/advantages-icons/icon-weigher.svg");
  }
}
