.inner-main {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.inner-main__title-wrapper {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 27px 20px 41px 20px;
}

.inner-main__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: @black;
}

@media (min-width: @desktop-width) {
  .inner-main__container {
    display: grid;
    grid-template-columns: 570px 570px;
    justify-content: space-between;
  }
}
