.program-info {
  flex-grow: 1;
  list-style: none;
}

.program-info__i {
  display: flex;
  align-items: center;

  & + .program-info__i {
    margin-top: 20px;
  }
}

.program-info__label {
  margin-right: 13px;
  flex-shrink: 0;
}

.program-info__input {
  width: 100%;
}
