@import "../global/index";

.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  padding: 0;

  @media (min-width: @tablet-width) {
    gap: 60px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    column-gap: 80px;
    row-gap: 63px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
  }
}
