.product-card {
  list-style-type: none;
}

.product-card__decoration-line:not(:first-child) {
  border-top: 1px solid #e6e6e6;
}

.product-card:last-child {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: @tablet-width) {
    border-bottom: none;
  }
}

.product-card__wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 19px 0 14px;

  @media (min-width: @tablet-width) {
    width: 324px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
}

.product-card__image {
  grid-column: 1/2;
  grid-row: 1/3;

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.product-card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: (20 / 16);
  text-transform: uppercase;
  margin: 0;
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: start;
  color: #222222;

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.product-card__info-description {
  margin: 0;
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 90px 50px;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: (16 / 12);

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

.product-card__button-order {
  grid-column: 1/3;
  grid-row: 3/4;

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

.product-card__additional {
  display: none;

  @media (min-width: @tablet-width) {
    display: grid;
  }
}
