@import "../../variables";

.life-example {
  margin: 0 auto;
  background-color: #eaeaea;
  position: relative;

  @media (min-width: @tablet-width) {
    background-color: @white;

    &::before {
      content: "";
      width: 100%;
      height: 440px;
      background-color: #eaeaea;
      position: absolute;
      bottom: 0;
      z-index: 1;
    }
  }

  @media (min-width: @desktop-width) {
    z-index: 1;

    &::before {
      content: "";
      width: 100%;
      height: 500px;
      background-color: #eaeaea;
      position: absolute;
      bottom: 0;
      z-index: -1;
    }
  }
}

.life-example__container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: @mobile-width-only) {
    grid-template-columns: 1fr;
  }
}


.life-example__wrapper {
  display: grid;

  @media (min-width: @tablet-width) {
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 224px;
    padding-bottom: 75px;

    br {
      display: none;
    }
  }
}

.life-example__photo-verification {
  width: 100%;
  height: 256px;
  margin: 20px auto 40px;

  @media (min-width: @tablet-width) {
    margin-top: 199px;
    grid-column: 1/4;
    height: 462px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3/4;
    grid-row: 1/5;
    margin-top: 40px;
    background-color: transparent;
  }
}

.life-example__title {
  margin: 25px 0 40px;
  font-size: 36px;
  line-height: (40 / 36);
  font-weight: 400;
  color: @black;

  @media (min-width: @tablet-width) {
    grid-column: 1/4;
    font-size: 60px;
    line-height: 1;
    margin: 43px 0 63px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    margin-bottom: 146px;
  }
}

.life-example__text {
  font-family: "Lato", sans-serif;
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    grid-column: 1/4;
    font-size: 16px;
    line-height: (24 / 16);
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    margin-bottom: 69px;
  }
}

.life-example__total-amount {
  line-height: (20 / 14);
  text-transform: uppercase;
  color: @black;
  text-align: center;
  margin: 0;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    text-align: right;
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    grid-row: 4/5;
    text-align: left;
  }
}

.life-example__total-value {
  @media (min-width: @desktop-width) {
    margin-left: 63px;
  }
}

.life-example__results {
  margin: 0;
  margin-bottom: -15px;

  @media (min-width: @tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    margin-bottom: 55px;
  }
}

.life-example--photo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 256px;

  @media (min-width: @tablet-width) {
    top: -100px;
    width: 560px;
    height: 512px;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    top: 0;
    right: 0;
  }
}
