@import "../../variables";

.promo {
  padding-top: 27px;
  margin-bottom: 82px;
  color: @white;
  background-image:
    url("../../../img/background-cat-promo.png"),
    linear-gradient(to bottom, #62a63b 302px, #ffffff 302px);
  background-position: center top;
  background-size: 320px 302px, auto;
  background-repeat: no-repeat;

  @media (max-width: @tablet-width - 1px) {
    text-align: center;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    padding-bottom: 526px;
    color: @black;
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    margin-top: -120px;
    padding-top: 223px;
    padding-bottom: 185px;
    background-image:
      url("../../../img/green-big-promo-cat.png"),
      linear-gradient(to right, #ffffff 50%, #62a63b 50%);
    background-position: center right;
    background-size: auto;
  }
}

.promo__wrapper {
  @media (min-width: @tablet-width) {
    padding-right: 117px;
    padding-left: 117px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 650px;
    padding-left: 80px;
  }
}

.promo__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;

  @media (min-width: @tablet-width) {
    font-size: 60px;
  }
}

.promo__slogan {
  margin: 25px 0 0;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-top: 40px;
    font-size: 20px;
  }
}

.promo__image {
  margin: 29px 0 0;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: @desktop-width) {
    bottom: 54px;
    transform: translateX(-100px);
  }
}

.promo__link {
  display: block;
  margin-top: 3px;

  @media (min-width: @tablet-width) {
    display: inline-block;
    margin-top: 50px;
  }
}
