@import "../global/index";

.additional-info {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.additional-info__title {
  font-size: 24px;
  line-height: (26 / 24);
  padding-bottom: 35px;
  color: @black;
}

.additional-info__data {
  display: flex;
  align-items: center;
}

.additional-info__label {
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 16px;
  color: @black;
}

.additional-info__data-wrapper {
  margin-bottom: 13px;
}
