.additional-info {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }
}

.additional-info__wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.additional-info__title {
  font-size: 24px;
  line-height: (26 / 24);
  margin-bottom: 35px;
  padding-right: 22px;
  color: @black;
  width: max-content;
  background-color: @white;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    height: 3px;
    margin-top: 2px;
    background: #68b738;
    z-index: -1;

    @media (max-width: @mobile-width-only) {
      left: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -100vh;
    width: 100vh;
    height: 3px;
    margin-top: 2px;
    background: #68b738;
    z-index: -1;

    @media (max-width: @mobile-width-only) {
      content: none;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
    font-size: 36px;
    line-height: 1;
    padding: 0 40px;
    margin-left: -40px;
  }
}

.additional-info__data {
  display: flex;
  align-items: center;
}

.additional-info__label {
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 16px;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: (30 / 20);
  }
}

.additional-info__data-wrapper {
  margin-bottom: 13px;
}
