.cat-mission {
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin-bottom: 71px;
  }
}

.cat-mission__wrapper {
  margin-top: 22px;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid #e7e7e7;
  }
}

.cat-mission__control {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 19px;
  }
}

.cat-mission__control-input {
  margin-right: 15px;
}

.cat-mission__control-label {
  text-transform: uppercase;
  font-size: 16px;
  color: #222222;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: (30 / 20);
  }
}
