.cat-data {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 22px;
}

.cat-data__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.cat-data__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

@media (min-width: @tablet-width) {
  .cat-data__wrapper {
    width: 630px;
  }
}

.cat-data__input-label {
  font-size: 16px;
  text-transform: uppercase;
  color: @special_dark-grey;
  margin-right: 9px;
}

.cat-data__input {
  font-family: "Oswald", sans-serif;
  flex-grow: 1;
  width: 177px;
  padding: 14px 20px;
  border: 1px solid #e7e7e7;
  color: @special_dark-grey;
  font-size: 16px;
  text-transform: uppercase;
}

.cat-data__input-wrapper {
  margin-bottom: 14px;
}
