.comment {
  margin: 0 auto;
}

.comment__title {
  font-size: 24px;
  line-height: (26 / 24);
  padding-bottom: 35px;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 1;
  }
}

.comment__input {
  border: 1px solid #e7e7e7;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: (18 / 16);
  text-transform: uppercase;
  width: 100%;
  padding: 10px 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: (30 / 20);
  }
}

.comment__input-wrapper {
  margin-bottom: 22px;
}
