.comment {
  margin: 0 auto;
}

.comment__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  padding-bottom: 35px;
}

.comment__input {
  width: 280px;
  border: 1px solid #e7e7e7;
}

.comment__input-wrapper {
  margin-bottom: 22px;
}
