.contact-details {
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }
}

.contact-details__title {
  font-size: 24px;
  line-height: (26 / 24);
  margin-bottom: 35px;
  padding-right: 14px;
  color: @black;
  width: max-content;
  background-color: @white;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    height: 3px;
    margin-top: 2px;
    background: #68b738;
    z-index: -1;

    @media (max-width: @mobile-width-only) {
      left: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -100vh;
    width: 100vw;
    height: 3px;
    margin-top: 2px;
    background: #68b738;
    z-index: -1;

    @media (max-width: @mobile-width-only) {
      content: none;
    }
  }

  br {
    display: none;
  }

  @media (max-width: @mobile-width-only) {
    br {
      display: block;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
    margin-left: -40px;
    padding: 0 40px;
    font-size: 36px;
    line-height: 1;
  }
}

.contact-details__data {
  display: flex;
  align-items: baseline;
  margin-bottom: 14px;
}

.contact-details__label {
  font-size: 16px;
  line-height: (18 / 16);
  text-transform: uppercase;
  margin-right: 10px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: (30 / 20);
    margin-right: 20px;
  }
}

.contact-details__input {
  font-family: "Oswald", sans-serif;
  padding: 14px 50px 14px 15px;
  width: 220px;
  border: 1px solid #e7e7e7;
  color: @special_dark-grey;
  font-size: 16px;
  text-transform: uppercase;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: center right 20px;
  background-size: 20px 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: (30 / 20);
  }

  &-phone {
    background-image: url("../../img/phone-icon.svg");
  }

  &-email {
    background-image: url("../../img/email-icon.svg");

    @media (min-width: @desktop-width) {
      margin-right: 81px;
    }
  }
}

.contact-details__container {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
}
