.form {
  border-top: 1px solid #e6e6e6;
}

.form__title {
  font-size: 36px;
  line-height: 1;
  color: @black;
}

.form__text {
  color: @black;
}

.form__text-wrapper {
  display: block;
  margin-bottom: 36px;
}

.form__data {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.form__button-submit {
  font-family: "Oswald", sans-serif;
  border: none;
  width: 100%;
}

.form__button-submit-wrapper {
  margin-bottom: 21px;
}

.form__legend {
  display: block;
  font-family: "Lato", sans-serif;
  line-height: (16 / 14);
  text-align: center;
  color: @black;
}

.form__legend-wrapper {
  margin-bottom: 32px;
}

.form__container {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }
}
