.contacts {
  background-color: rgba(255, 255, 255, 1);
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts-wrapper {
  background-color: #f2f2f2;
}

.contacts__text {
  font-size: 16px;
  line-height: (20 / 16);
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  font-family: "Lato", sans-serif;
  line-height: (20 / 14);
  font-style: normal;
}
