.copyright__link-academy {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #444444;
}

.copyright__wrapper {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 22px 0;
}
