.main-footer {
  background-color: rgba(242, 242, 242, 1);
}

.main-footer__map {
  height: 362px;
  background-color: #add8e6;
  margin: 0 auto;
}

.main-footer__section {
  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    border-top: none;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__logo-title {
  display: block;
  text-align: center;
}
