.main-footer {
  width: 320px;
  margin: 0 auto;
  background-color: rgba(242, 242, 242, 1);
}

.main-footer__map {
  width: 320px;
  height: 362px;
  background-color: #add8e6;
}

.main-footer__section {
  border-top: 1px solid #d9d9d9;
}
