.inner-nav {
  margin-left: auto;

  @media (max-width: @mobile-width-only) {
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    display: block;
  }

  &--nojs {
    display: block;
    //width: 100%;

    @media (min-width: @tablet-width) {
      width: auto;
    }
  }

  &--closed {
    display: none;
  }

  &--open {
    display: flex;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    background-color: @white;
  }
}

.inner-nav__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.inner-nav__item {
  text-align: center;

  @media (max-width: @mobile-width-only) {
    width: 100%;
    border-top: 1px solid #e6e6e6;
  }
}

.inner-nav__link {
  display: block;
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: @black;
  padding: 20px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: (24/18);
    font-weight: 400;
    padding: 10px 0;
    margin-right: 20px;
  }

  &--active {
    @media (min-width: @tablet-width) {
      border-bottom: 2px solid #68b738;
    }
  }

  &--active-white {
    @media (min-width: @desktop-width) {
      border-bottom: 2px solid @white;
    }
  }
}
