@import "../global/index";

.main-nav {
  margin-left: auto;

  @media (max-width: @mobile-width-only) {
    width: 100%;
  }
}

.main-nav__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.main-nav__item {
  border-top: 1px solid #e6e6e6;
  width: 100%;
  text-align: center;
}

.main-nav__link {
  display: block;
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: @black;
  padding: 20px;
}
