@import "../variables";

.main-nav {
  margin-left: auto;

  @media (max-width: @mobile-width-only) {

    &--closed {
      display: none;
    }

    &--opened {
      display: block;
      position: absolute;
      background-color: @white;
      margin-right: auto;
      top: 40px;
      right: 0;
      left: 0;
      min-width: 320px;
    }
  }

  &--nojs {
    display: block;

    @media (min-width: @tablet-width) {
      width: auto;
    }
  }
}

.main-nav__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;

  @media (max-width: @mobile-width-only) {
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.main-nav__item {
  text-align: center;

  @media (max-width: @mobile-width-only) {
    width: 100%;
    border-top: 1px solid #e6e6e6;
  }

  &--active {
    @media (min-width: @tablet-width) {
      border-bottom: 2px solid #68b738;
    }

    @media (min-width: @desktop-width) {
      border-bottom: 2px solid @white;
    }
  }
}

.main-nav__link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: @black;
  padding: 20px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: (24/18);
    font-weight: 400;
    padding: 10px 0;
    margin-right: 20px;
  }

  @media (min-width: @desktop-width) {
    color: @white;
  }
}
